Repository ArdentHQ/nova-enhanced-markdown, pull requests merged in 2022-12, with the labels that each got.

#23 chore: update PHP dependencies
  composer.lock
  dist/js/field.js
Labels: chore

#25 refactor: add button for upload images
  dist/js/field.js
  resources/js/components/FormField.vue
  resources/js/components/IconUpload.vue
Labels: refactor

#24 fix: scrolling when using fullscreen
  dist/js/field.js
  package.json
  resources/js/components/FormField.vue
  yarn.lock
Labels: bugfix

#26 chore: update PHP dependencies
  composer.lock
Labels: chore

#27 chore: update PHP dependencies
  composer.lock
Labels: chore
