Repository ArdentHQ/nova-enhanced-markdown, pull requests merged in 2022-10, with the labels that each got.

#9 chore: update PHP dependencies
  composer.json
  composer.lock
Labels: chore

#12 fix: issues with buttons when no text selected
  dist/js/field.js
  resources/js/components/FormField.vue
Labels: bugfix

#11 fix: include the missing data required for detail preview
  src/EnhancedMarkdown.php
Labels: bugfix

#15 chore: remove dependency pinning to latest version
  .github/workflows/deps.yml
  composer.json
Labels: chore

#16 chore: update PHP dependencies
  composer.lock
  dist/js/field.js
Labels: chore

#17 refactor: removes hardcoded optimizations, methods for validating and parsing files
  README.md
  dist/js/field.js
  phpstan.neon
  resources/js/components/FormField.vue
  routes/api.php
  src/EnhancedMarkdown.php
  src/FieldServiceProvider.php
  src/Http/Controllers/AttachmentController.php
  src/ImageOptimizers/ImagickOptimizer.php
  src/StoreAttachment.php
  src/StorePendingAttachment.php
  tests/EnhancedMarkdownTest.php
  tests/FieldServiceProviderTest.php
  tests/Http/Controllers/AttachmentControllerTest.php
  tests/ImageOptimizers/ImagickOptimizerTest.php
  tests/StorePendingAttachmentTest.php
  tests/TestCase.php
  tests/fixtures/ExampleModel.php
  tests/fixtures/ExampleResource.php
  tests/fixtures/ExampleResourceThatReplacesTheFile.php
  tests/fixtures/ExampleResourceWithAttachmentRules.php
  tests/fixtures/ExampleResourceWithCustomFileParser.php
Labels: refactor

#18 chore: update PHP dependencies
  composer.lock
Labels: chore

#19 chore: update PHP dependencies
  composer.lock
  dist/js/field.js
Labels: chore
